{
  "plugins": [
    [
      "@babel/plugin-proposal-pipeline-operator", {
        "topicToken": "@@",
        "proposal": "minimal"
      }
    ]
  ],
  "parserOpts": {
    "plugins": ["typescript"]
  }
}
